{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static "css/base.css" %}" rel="stylesheet">
	<link href="{% static "alu_logo_sq_red_text_favicon.png" %}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div id="header">
		<span class="logo"><a href="{% url "menu:menu_list" %}">ALU Eats</a></span>
		{% if request.user.is_authenticated %}
		<ul class="menu">
			<li {% if section == "menu" %}class="selected"{% endif %}>
				<a href="{% url "menu:menu_list" %}">Menu</a>
			</li>
			<li {% if section == "upcoming_orders" %}class="selected"{% endif %}>
				<a href="{% url "orders:upcoming_orders" %}">Upcoming Orders</a>
			</li>
			<li {% if section == "past_orders" %}class="selected"{% endif %}>
				<a href="{% url "orders:past_orders" %}">Past Orders</a>
			</li>
			{% if request.user.is_staff %}
				<li>
					<a href="{% url "orders:all_staff_orders" %}">All Staff Orders</a>
				</li>
			{% endif %}
		</ul>
		{% endif %}

		<span class="user">
			{% if request.user.is_authenticated %}
				Hello {{ request.user.first_name }},
				<a href="{% url "logout" %}"> Logout</a>
			{% else %}
				<a href="{% url "login" %}">Log-in</a>
			{% endif %}
		</span>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>