{% extends "base.html" %}
{% load static %}

{% block title %}
	{% if request.user.first_name %}{{ request.user.first_name}}&#39;s {% endif %}{{ title_message }}
{% endblock %}

{% block content %}
	<h1>{{ title_message }}</h1>
	{% if orders %}
	<div class="orders">
		<table>
			<thead>
				<tr>
					<th>Menu Item</th>
					<th>Date</th>
					<th>Quantity</th>
					<th>Comments</th>
					{% if title_message == 'Upcoming Orders' %} <th>Remove</th>{% endif %}
					<th>Unit price</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					{% with menu_item=order.menu_item %}
					<tr>
						<td>
							<a href="{{ menu_item.get_absolute_url }}">
								{{ menu_item.name }}
							</a>
						</td>
						<td>
							{{ order.date|date:'l' }}, {{ order.date }}
						</td>
						<td>
							{{ order.quantity }}
						</td>
						<td>
							{{ order.comments }}
						</td>
						{% if title_message == 'Upcoming Orders' %}
							<td>
								<a href="{% url "orders:order_remove" order.id %}">Remove</a>
							</td>
						{% endif %}
						<td class="num">RS {{ menu_item.price }}</td>
						<td class="num">RS {{ order.total_price }}</td>
					</tr>
					{% endwith %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
	<p>You have no {{ title_message|lower }}.</p>
	{% endif %}

{% endblock %}