{% extends "base.html" %}
{% load static %}

{% block title %}
	{% if category %}{{ category.name }}{% else %}Menu{% endif %}
{% endblock %}

{% block content %}
	<div id="sidebar">
		<h3>Categories</h3>
		<ul>
			<li {% if not category %}class="selected"{% endif %}>
				<a href="{% url "menu:menu_list" %}">Full Menu</a>
			</li>
			<h1></h1>
		{% for c in categories %}
			<li {% if category.slug == c.slug %}class="selected"{% endif %}>
				<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div id="main" class="product-list">
			<h1>{% if category %}{{ category.name }}{% else %}Full Menu{% endif %}</h1>
			{% for menu_item in menu_items %}
				<div class="item">
					<a href="{{ menu_item.get_absolute_url }}">
						{{ menu_item.name }}
					</a>
					<div class="price">        
						Rs {{ menu_item.price }}
					</div>
				</div>
				<br>
			{% endfor %}
	</div>
{% endblock %}
